<div class="input-row clearfix">
  <div class="input-row-header clearfix">
    <div class="input-row-header-title">
      PON网关
    </div>
    <div class="input-row-top-right">
      <span class="label-required">往届生<i nz-icon nzType="info-circle" nzTheme="outline" style="padding: 0 3px; font-size: .8em;"></i>:
        <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="selectedOperator" (ngModelChange)="inputSn()" [class.red-input]="!selectedOperator">
          <nz-option [nzValue]="1" nzLabel="可投"></nz-option>
          <nz-option [nzValue]="2" nzLabel="不可投"></nz-option>
        </nz-select>
      </span>
      <span class="label-required">id（更新时选）:
        <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="selectedProvince" [nzLoading]="provinceList.length === 0" (ngModelChange)="inputSn()" [class.red-input]="!selectedProvince">
          <nz-option *ngFor="let p of provinceList" [nzValue]="p.key" [nzLabel]="p.desc"></nz-option>
        </nz-select>
      </span>
    </div>
  </div>
  <div class="input-row-content clearfix">
    <div class="left-content">
      <div class="content-title">扫码信息</div>
      <div class="content-input clearfix">
        <div class="input-box">
          <span class="input-label label-required">标题:</span>
          <input nz-input [(ngModel)]="sn" class="input-item" placeholder="自动识别" (blur)="inputSn()" (keyup.enter)="inputSn()" #snInput [class.red-input]="!sn"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">行业:</span>
          <input nz-input [(ngModel)]="sn" class="input-item" placeholder="自动识别" (blur)="inputSn()" (keyup.enter)="inputSn()" #snInput [class.red-input]="!sn"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">公司名称:</span>
          <input nz-input [(ngModel)]="deviceNo" placeholder="自动识别" class="input-item"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">投递地址:</span>
          <input nz-input [(ngModel)]="deviceCode" placeholder="自动识别" class="input-item"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">招聘简章:</span>
          <input nz-input [(ngModel)]="ip" placeholder="自动识别" class="input-item"/>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="content-title">必填信息</div>
      <div class="content-input clearfix">
        <div class="input-box">
          <span class="input-label label-required">封面图片上传:</span>
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" [(nzFileList)]="fileList">
            <button nz-button><i nz-icon nzType="upload"></i><span>点击上传</span></button>
          </nz-upload>
        </div>
        <div class="input-box">
          <span class="input-label label-required">ppt图片上传:</span>
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
            <button nz-button><i nz-icon nzType="upload"></i><span>点击上传</span></button>
          </nz-upload>
        </div>
        <!--<div class="input-box">-->
          <!--<span class="input-label label-required">目标版本:</span>-->
          <!--<input nz-input [(ngModel)]="originalVersion" class="input-item"/>-->
        <!--</div>-->
        <div class="confirm-box">
          <span class="input-label">&nbsp;</span>
          <button nz-button nzType="primary" (click)="doInspection()" [nzLoading]="loading">一键检测</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="result-row" #resultRow>
  <nz-spin [nzSpinning]="loading">
    <app-inspection-table
      [autoInspectionList]="autoInspectionList"
      [manualInspectionList]="manualInspectionList"
      [loading]="loading"
      deviceType="PON_GATEWAY"
      wsItemType="TOOL_ITEM"
      wsFinishType="PON_GETWAY_STATUS"
      (startLoading)="this.loading=true"
      (finishLoading)="this.loading=false"
      (startInspection)="startAutoInspection()"
      (finishInspection)="finishAutoInspection()"
      #inpectionTable
    ></app-inspection-table>
    <div class="result-btn">
      <button nz-button nzType="primary" (click)="finishInspection()" [disabled]="inspectionStatus === 2 || !initData">检测完成</button>
      <button nz-button nzType="default" [disabled]="inspectionStatus === 2" (click)="goToUpdatePage()">软件升级<i nz-icon nzType="arrow-right" nzTheme="outline" style="color: #1890ff"></i></button>
    </div>
  </nz-spin>
</div>

<app-new-sn-input #newSnInput deviceType="PON_GATEWAY"></app-new-sn-input>
