<div class="input-row clearfix">
  <div class="input-row-header clearfix">
    <div class="input-row-header-title">
      线上宣讲会上传
    </div>
    <div class="input-row-top-right">
      <span class="label-required">往届生<i nz-icon nzType="info-circle" nzTheme="outline" style="padding: 0 3px; font-size: .8em;"></i>:
        <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="selectedOperator" (ngModelChange)="inputSn()" [class.red-input]="!selectedOperator">
          <nz-option [nzValue]="1" nzLabel="可投"></nz-option>
          <nz-option [nzValue]="0" nzLabel="不可投"></nz-option>
        </nz-select>
      </span>
      <span class="label-required">修改:
        <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="onlineId" [nzLoading]="onlineSession.length === 0" (ngModelChange)="inputSn()" (nzFocus)="getAllOnline()">
          <nz-option *ngFor="let p of onlineSession" [nzValue]="p.id" [nzLabel]="p.title"></nz-option>
        </nz-select>
      </span>
      <span class="label-required">删除（选中即删除）:
        <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="delectOnlineId" [nzLoading]="onlineSession.length === 0" (ngModelChange)="delectOnline()" (nzFocus)="getAllOnline()">
          <nz-option *ngFor="let p of onlineSession" [nzValue]="p.id" [nzLabel]="p.title"></nz-option>
        </nz-select>
      </span>
    </div>
  </div>
  <div class="input-row-content clearfix">
    <div class="left-content">
      <div class="content-title">文字信息</div>
      <div class="content-input clearfix">
        <div class="input-box">
          <span class="input-label label-required">标题:</span>
          <input nz-input [(ngModel)]="title" class="input-item" placeholder="自动识别" (blur)="inputSn()" (keyup.enter)="inputSn()" #snInput [class.red-input]="!sn"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">行业:</span>
          <input nz-input [(ngModel)]="business" class="input-item" placeholder="自动识别" (blur)="inputSn()" (keyup.enter)="inputSn()" #snInput [class.red-input]="!sn"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">公司名称:</span>
          <input nz-input [(ngModel)]="companyName" placeholder="自动识别" class="input-item"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">投递地址:</span>
          <input nz-input [(ngModel)]="address" placeholder="自动识别" class="input-item"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">招聘简章:</span>
          <input nz-input [(ngModel)]="text" placeholder="自动识别" class="input-item"/>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="content-title">上传文件</div>
      <div class="content-input clearfix">
        <div class="input-box">
          <span class="input-label label-required">封面图片上传:</span>
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" [(nzFileList)]="fileList">
            <button nz-button><i nz-icon nzType="upload"></i><span>点击上传</span></button>
          </nz-upload>
        </div>
        <div class="input-box">
          <span class="input-label label-required">ppt图片上传:</span>
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
            <button nz-button><i nz-icon nzType="upload"></i><span>点击上传</span></button>
          </nz-upload>
        </div>
        <!--<div class="input-box">-->
          <!--<span class="input-label label-required">目标版本:</span>-->
          <!--<input nz-input [(ngModel)]="originalVersion" class="input-item"/>-->
        <!--</div>-->
        <div class="confirm-box">
          <span class="input-label">&nbsp;</span>
          <button nz-button nzType="primary" (click)="doInspection()" [nzLoading]="loading">一键检测</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="input-row clearfix">
  <div class="input-row-header clearfix">
    <div class="input-row-header-title">
      新增双选会
    </div>
    <div class="input-row-top-right">
      <span class="label-required">修改:
        <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="onlineId" [nzLoading]="onlineSession.length === 0" (ngModelChange)="inputSn()" (nzFocus)="getAllOnline()">
          <nz-option *ngFor="let p of onlineSession" [nzValue]="p.id" [nzLabel]="p.title"></nz-option>
        </nz-select>
      </span>
      <span class="label-required">删除（选中即删除）:
        <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="delectOnlineId" [nzLoading]="onlineSession.length === 0" (ngModelChange)="delectOnline()" (nzFocus)="getAllOnline()">
          <nz-option *ngFor="let p of onlineSession" [nzValue]="p.id" [nzLabel]="p.title"></nz-option>
        </nz-select>
      </span>
    </div>
  </div>
  <div class="input-row-content clearfix">
    <div class="left-content">
      <div class="content-title">文字信息</div>
      <div class="content-input clearfix">
        <div class="input-box">
          <span class="input-label label-required">开始日期：</span>
          <input nz-input [(ngModel)]="title" class="input-item" placeholder="例2019-12-25" (blur)="inputSn()" (keyup.enter)="inputSn()" #snInput [class.red-input]="!sn"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">截止日期：</span>
          <input nz-input [(ngModel)]="title" class="input-item" placeholder="例2019-12-25" (blur)="inputSn()" (keyup.enter)="inputSn()" #snInput [class.red-input]="!sn"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">面试地点:</span>
          <input nz-input [(ngModel)]="business" class="input-item" placeholder="自动识别" (blur)="inputSn()" (keyup.enter)="inputSn()" #snInput [class.red-input]="!sn"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">主办方:</span>
          <input nz-input [(ngModel)]="companyName" placeholder="自动识别" class="input-item"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">标题:</span>
          <input nz-input [(ngModel)]="address" placeholder="自动识别" class="input-item"/>
        </div>
        <div class="input-box">
          <span class="input-label label-required">简介:</span>
          <input nz-input [(ngModel)]="text" placeholder="自动识别" class="input-item"/>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="content-title">上传文件</div>
      <div class="content-input clearfix">
        <div class="input-box">
          <span class="input-label label-required">图标上传:</span>
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" [(nzFileList)]="fileList">
            <button nz-button><i nz-icon nzType="upload"></i><span>点击上传</span></button>
          </nz-upload>
        </div>
        <div class="confirm-box">
          <span class="input-label">&nbsp;</span>
          <button nz-button nzType="primary" (click)="doInspection()" [nzLoading]="loading">一键检测</button>
        </div>
      </div>
    </div>
  </div>
</div>
